<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="isHandset$ | async">
      <a mat-list-item routerLink="/" (click)="drawer.toggle()">
        S'identifier
        <fa-icon [icon]="faUserTie" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item routerLink="/" (click)="drawer.toggle()">
        Tableau de bord
        <fa-icon [icon]="faTachometerAlt" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item routerLink="inital-check" (click)="drawer.toggle()">
        Check initial
        <fa-icon [icon]="faListAlt" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item routerLink="week" (click)="drawer.toggle()">
        Semaine 1
        <fa-icon [icon]="faClipboardList" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item href="#">
        Semaine 2
        <fa-icon [icon]="faClipboardList" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item href="#">
        Semaine 3
        <fa-icon [icon]="faClipboardList" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item href="#">
        Semaine 4
        <fa-icon [icon]="faClipboardList" class="fa-2x"></fa-icon>
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="(isHandset$ | async) === false">
      <a mat-list-item routerLink="/">
        S'identifier
        <fa-icon [icon]="faUserTie" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item routerLink="/">
        Tableau de bord
        <fa-icon [icon]="faTachometerAlt" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item routerLink="inital-check">
        Check initial
        <fa-icon [icon]="faListAlt" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item routerLink="week">
        Semaine 1
        <fa-icon [icon]="faClipboardList" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item href="#">
        Semaine 2
        <fa-icon [icon]="faClipboardList" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item href="#">
        Semaine 3
        <fa-icon [icon]="faClipboardList" class="fa-2x"></fa-icon>
      </a>
      <a mat-list-item href="#">
        Semaine 4
        <fa-icon [icon]="faClipboardList" class="fa-2x"></fa-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Driver</span>
    </mat-toolbar>
    <div class="relative-container">
      <main class="container">
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
