<!-- <div class="content">
  <div class="check-list">
    <div class="one-check-list">
      <h3 class="title">
        Visibilité
      </h3>
      <div class="check" *ngFor="let check of visibilityChecks">
        <div>
          <mat-slide-toggle [aria-label]="check.label"></mat-slide-toggle>
        </div>
        <div class="label">
          <span>{{check.label}}</span>
        </div>
      </div>
    </div>
    <div class="one-check-list">
      <h3 class="title">
        Éclairage
      </h3>
      <div class="check" *ngFor="let check of lightingChecks">
        <div>
          <mat-slide-toggle [aria-label]="check.label"></mat-slide-toggle>
        </div>
        <div class="label">
          <span>{{check.label}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary">Soumettre</button>
  </div>
</div> -->

<p class="intro">
  Ci-dessous la liste des points à cocher après Nettoyage Inspection & Lubrification pour la semaine choisie:
</p>
<div class="category">
  <mat-card class="card" *ngFor="let check of visibilityChecks">
    <div class="check-part">
      <mat-slide-toggle [aria-label]="check.label"></mat-slide-toggle>
      <span>{{check.label}}</span>
    </div>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <div class="image-container">
    </div>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
