<div class="intro">
  Ci-dessous la liste des points à cocher après Nettoyage Inspection & Lubrification pour la semaine choisie:
</div>
<div class="content">
  <div class="check-list">
    <div class="check" *ngFor="let check of checks">
      <div>
        <mat-slide-toggle [aria-label]="check.label"></mat-slide-toggle>
      </div>
      <div class="label">
        <span>{{check.label}}</span>
      </div>
    </div>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary">Soumettre</button>
  </div>
</div>
