@import '../../styles.scss';

:host {
  display: block;
}

.intro {
  max-width: 90%;
}

.category {
  display: flex;
  flex-wrap: wrap;
  border-radius: 7px;
  background-color: #f2f4f6;
  padding: 20px;
  margin: 10px 0;
  border: 2px solid $secondary-color;
  background: rgb(103,59,183);
  background: linear-gradient(90deg, rgba(103,59,183,0.5777661406359419) 0%, rgba(103,59,183,0.24723392775078779) 100%);

  .title {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.95);

    fa-icon {
      margin-right: 20px;
    }

    span > h2 {
      margin: unset;
    }
  }
  .card {
    margin: 0 10px 10px 0;
    max-width: 350px;

    .check-part {
      display: flex;
      align-items: center;
      justify-content: center;

      mat-slide-toggle {
        margin-right: 10px;
      }
    }

    .image-container {
      width: inherit;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      fa-icon {
        color: $primary-color;
      }
    }

    mat-card-actions {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
