/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.relative-container {
  position: relative;
  flex: 1 0 auto;

  .container {
    width: inherit;
    padding: 10px;
    padding-bottom: 75px;
  }
}

// COLORS
$primary-color: #673AB7;
$secondary-color: #FEBA07;
$danger-red: #e00034;
$warning-yellow: #eb9a00;
$pass-green: #24aa98;


.check-is-good {
  color: $pass-green;
}

.check-is-warning {
  color: $warning-yellow;
}

.check-is-danger {
  color: $danger-red;
}

